#root {
 
}


.run{
background: rgb(44,45,47);
background: linear-gradient(171deg, rgba(44,45,47,1) 48%, rgba(72,95,120,1) 100%);
}

.services{
  background-image: url('https://i.ibb.co/mzqYY9y/service-bg-1.png');
  /* background-image: url('https://i.ibb.co/CWC9rwM/bottom-reverse.png'); */
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  object-fit: cover;
}


/* .explore{
  background-image: url('https://i.ibb.co/P5Cr8Tj/posture.webp');
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  object-fit: cover;
} */